<blockquote>
  <p>
    A diagram is a symbolic representation of information according to some
    visualization technique. Diagrams have been used since ancient times,
    but became more prevalent during the Enlightenment. Sometimes, the technique
    uses a three-dimensional visualization which is then projected onto a
    two-dimensional surface. The word graph is sometimes used as a synonym for
    diagram.
  </p>
</blockquote>
<h2>Circles</h2>
<div class="row">
  <div id="chart3" class="col-sm-12"></div>
  </div>
</div>
<h2>Speedtest</h2>
<div class="row">
    <div id="chart4" class="col-sm-12">
        <div>
            <span id="speedometer"></span>
        </div>
    </div>
</div>
<h1 id="progress">JavaScript is turned off, or your browser is realllllly slow</h1>
</div>
<blockquote>
    <p>
       By Nico Deufemia (with help from <a href="http://stackoverflow.com/questions/5529718/how-to-detect-internet-speed-in-javascript">StackOverflow</a> and <a href="http://bl.ocks.org/metormote/6392996">metormote's block #6392996)</a>
    </p>
</blockquote>
